{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://c8.alamy.com/comp/2HC2A8W/calorie-counting-rgb-color-icon-2HC2A8W.jpg" type="image/x-icon">
    <title>CalorieTracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'style.css' %}">  <!--    link our css file to html-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">

</head>

<body>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>


</html>