{% extends "index.html" %}
{% block content %}
    <div class="main-back">
    <div class="header-bar-additional">
        <h2>Password Reset Confirm</h2>
        <a href="{% url 'showDetails' %}" >Home</a>
        </div>
        <div class="details">
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="password-reset" type="submit">Reset password</button>
        </form>
            </div>
    </div>

{% endblock %}