{%extends 'index.html'%}

{%block content%}
<div class="body">
<div class="main-back">

	<form method="post" class="card">
		{% csrf_token %}
        <div class="header-bar">
	    <h2>Reset Password</h2>
    </div>
    <div class="details">
    <div class="labels-fields">
		{% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}
    </div>
    </div>
		<div class="form-buttons">
			<input type="submit" value="Send" class="form-button-submit">
			<a href="{%url 'login' %}"  class="form-button-cancel">Cancel</a>
		</div>
	</form>
	</div>
</div>


{%endblock content%}